@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* 
nav>ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav>ul li a {
    font-size: 30px;
} */

.hero {
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: rgb(255, 255, 255);
    width: 1000px;
    text-align: center;
}

.hero .hero-content .title-p {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}

.hero .hero-content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    font-family: "Work Sans", sans-serif;
}

.hero .hero-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 30px;

}

.btn {
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0%;
    border: none;
    text-align: center;
}

.card-box {
    width: 1320px;
    margin: 167px auto;
    text-align: center;
}

.card-headding {
    text-align: center;
}

.card-headding p {
    color: rgb(16, 16, 16);
    font-size: 24px;
}

.card-headding h2 {
    color: rgb(16, 16, 16);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-design {
    width: 424px;
    text-align: center;
}

.card-design img {
    width: 314px;
    margin-bottom: 32px;

}

.card-design span {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.card-design h4 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px;
}

.card-design p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 16px;
}

.card-box .btn {
    margin-top: 40px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-img img {
    width: 960px;
}
.about-title {
    color: rgb(16, 16, 16);
    text-align: center;
    display: flex;
    align-items: center;
}
.about-title h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.about-title p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.about-title span {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    border-top: 1px solid rgb(66, 65, 65);
    border-bottom: 1px solid rgb(65, 64, 64);
    padding: 20px 0;
    display: block;
    margin-bottom: 16px;
    opacity: 0.6;
}
.social-title .icon,.about-title .icon a i{
    font-size: 30px;
    padding:5px;
}
.social{
    height: 671px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items:center;
}
.social-title h1{
    font-size:48px ;
}
.social-title p{
    font-size:24px ;
    opacity: 0.6;
}

.social-title span{
    font-size:32px ;
    border-top: 1px solid rgb(66, 65, 65);
    border-bottom: 1px solid rgb(65, 64, 64);
    padding: 20px 0;
    display: block;
    margin-bottom: 16px;
}
